<!DOCTYPE html>
<html>
<head>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!-- 	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
 -->	
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
 	<title>LenDen</title>
	<style type="text/css">
	.vcenter(height)
	{
	    position:  absolute;
	    margin:  auto;
	    top:  0;
	    bottom:  0;
	    height:  height;
	}
		.b0b{
			border: 1px solid black;
		}
		.b0p{
			border: 1px solid purple;
		}
	</style>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="/"><img src = "lenden logo.png"></a>
		<!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon">adpi
			</span>
		</button>
 -->
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<!-- <ul class="navbar-nav mr-auto b0b">
				<li class="nav-item active">
					<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Link</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Dropdown
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">Action</a>
						<a class="dropdown-item" href="#">Another action</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Something else here</a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#">Disabled</a>
				</li>
			</ul> -->
			<div class="col-2"></div>
			<form class="form-inline my-2 my-lg-0 col-6 row">
				<input class="form-control mr-sm-2 col-10" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-info my-2 my-sm-0 col-1" type="submit"><i class="fa fa-search"></i></button>
			</form>
			<div class="col-1"></div>
			<div class="col-3">
				<!-- <p>Hiii {{name}}!!</p> -->
				<button class="btn btn-info pull-right">My Account</button>
				<!-- <button class="btn btn-secondary pull-right mx-2">20</button> -->
			</div>
				
			</div>
		</div>
	</nav>

	<div class="container">
		<br>
		<h1> <i>Shopping Cart &nbsp;</i><i class="fa fa-shopping-cart"  style="color: #444;"></i> </h1><br>
		<div class="card my-2">
			<!-- <div class="card-header">
				Featured
			</div> -->
			<div class="card-body row">
				<div class="col-3">
					<img src="https://rukminim1.flixcart.com/image/832/832/backpack/g/y/d/07171203-puma-backpack-echo-plus-original-imae8jq7fuxzdmeq.jpeg?q=70" class="img-fluid w-75 py-auto my-auto">
				</div>
				<div class="col-9 my-auto">
					<h5 class="card-title">Product Name}}</h5>
					<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
					<a href="#" class="btn btn-outline-success">Buy Now</a>
					<a href="#" class="btn btn-outline-danger">Remove From Cart <i class="fa fa-trash "></i></a>
					
					<button class="btn  pull-right  mx-4">600.0</button> <!-- {{Price}} -->
					<button class="btn btn-outline-danger  pull-right  "><i class="fa fa-minus"></i></button> <!-- {{Price}} -->
					<button class="btn btn-outline-light  pull-right   text-dark">2</button>
					<button class="btn btn-outline-success pull-right  "><i class="fa fa-plus"></i></button> <!-- {{Price}} -->
				</div>
			</div>

		</div>
		<div class="card my-2">
			<!-- <div class="card-header">
				Featured
			</div> -->
			<div class="card-body row">
				<div class="col-3">
					<img src="https://rukminim1.flixcart.com/image/832/832/backpack/g/y/d/07171203-puma-backpack-echo-plus-original-imae8jq7fuxzdmeq.jpeg?q=70" class="img-fluid w-75 py-auto my-auto">
				</div>
				<div class="col-9 my-auto">
					<h5 class="card-title">{Product Name}}</h5>
					<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
					<a href="#" class="btn btn-outline-success">Buy Now</a>
					<a href="#" class="btn btn-outline-danger">Remove From Cart <i class="fa fa-trash "></i></a>
					
					<button class="btn  pull-right  mx-4">600.0</button> <!-- {{Price}} -->
					<button class="btn btn-outline-danger  pull-right  "><i class="fa fa-minus"></i></button> <!-- {{Price}} -->
					<button class="btn btn-outline-light  pull-right   text-dark">2</button>
					<button class="btn btn-outline-success pull-right  "><i class="fa fa-plus"></i></button> <!-- {{Price}} -->
				</div>
			</div>
		</div>	
			<div class=" row my-4">
				<div class="col-9"></div>
				<div class="col-3 row">
					<span class="pull-right col-4 text-center my-auto"><i class="fa fa-rupee">1200.0</i></span>
					<button class="btn btn-primary pull-right col-8 text-center">Buy Now</button>
				</div>
			</div>
		<h1>Wishlist <i class="fa fa-heart" style="color: #B00;"></i></h1>
		<!-- <div class="row mx-0 b0b" style="position: relative;width: 150%;">
			<p>Spdposd</p>
		</div> -->
		<div class="row text-center">
			<!-- <div class=" py-auto text-center" style="width: 2rem;" >
				<div class=" my-auto" style="vertical-align: 40%;"><i class=" fa fa-arrow-left"></i></div>
			</div> -->
			<div class="card mx-1 px-auto" style="width: 17rem;">
				<img class="card-img-top w-75 mx-auto" src="https://rukminim1.flixcart.com/image/832/832/backpack/g/y/d/07171203-puma-backpack-echo-plus-original-imae8jq7fuxzdmeq.jpeg?q=70" alt="Card image cap">
				<div class="card-body text-center">
					<h5> Puma EX-78 Backpack</h5>
					<span class="text-secondary my-2"><i class="fa fa-rupee">600.0</i></span><br><br>
					<button class="btn btn-info">Move to Bag</button>
				</div>
			</div>
			<div class="card mx-1 px-auto" style="width: 17rem;">
				<img class="card-img-top w-75 mx-auto" src="https://rukminim1.flixcart.com/image/832/832/backpack/g/y/d/07171203-puma-backpack-echo-plus-original-imae8jq7fuxzdmeq.jpeg?q=70" alt="Card image cap">
				<div class="card-body text-center">
					<h5> Puma EX-78 Backpack</h5>
					<span class="text-secondary my-2"><i class="fa fa-rupee">600.0</i></span><br><br>
					<button class="btn btn-info">Move to Bag</button>
				</div>
			</div>
			<div class="card mx-1 px-auto" style="width: 17rem;">
				<img class="card-img-top w-75 mx-auto" src="https://rukminim1.flixcart.com/image/832/832/backpack/g/y/d/07171203-puma-backpack-echo-plus-original-imae8jq7fuxzdmeq.jpeg?q=70" alt="Card image cap">
				<div class="card-body text-center">
					<h5> Puma EX-78 Backpack</h5>
					<span class="text-secondary my-2"><i class="fa fa-rupee">600.0</i></span><br><br>
					<button class="btn btn-info">Move to Bag</button>
				</div>
			</div>
			<div class="card mx-1 px-auto" style="width: 17rem;">
				<img class="card-img-top w-75 mx-auto" src="https://rukminim1.flixcart.com/image/832/832/backpack/g/y/d/07171203-puma-backpack-echo-plus-original-imae8jq7fuxzdmeq.jpeg?q=70" alt="Card image cap">
				<div class="card-body text-center">
					<h5> Puma EX-78 Backpack</h5>
					<span class="text-secondary my-2"><i class="fa fa-rupee">600.0</i></span><br><br>
					<button class="btn btn-info">Move to Bag</button>
				</div>
			</div>
			<!-- <div class=" py-auto text-center" style="width: 2rem;" >
				<div class=" my-auto"><i class=" fa fa-arrow-right"></i></div>
			</div> -->
		</div>
	</div>
	<br><br>
</body>
</html>	