<div class="container">
		<br>
		<h1> <i>Shopping Cart &nbsp;</i><i class="fa fa-shopping-cart"  style="color: #444;"></i> </h1><br>
		<div class="card my-2">
			<!-- <div class="card-header">
				Featured
			</div> -->
			<div class="card-body row">
				<div class="col-3">
					<img src="https://rukminim1.flixcart.com/image/832/832/backpack/g/y/d/07171203-puma-backpack-echo-plus-original-imae8jq7fuxzdmeq.jpeg?q=70" class="img-fluid w-75 py-auto my-auto">
				</div>
				<div class="col-9 my-auto">
					<h5 class="card-title">Product Name}}</h5>
					<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
					<a href="#" class="btn btn-outline-success">Buy Now</a>
					<a href="#" class="btn btn-outline-danger">Remove From Cart <i class="fa fa-trash "></i></a>
					
					<button class="btn  pull-right  mx-4">600.0</button> <!-- {{Price}} -->
					<button class="btn btn-outline-danger  pull-right  "><i class="fa fa-minus"></i></button> <!-- {{Price}} -->
					<button class="btn btn-outline-light  pull-right   text-dark">2</button>
					<button class="btn btn-outline-success pull-right  "><i class="fa fa-plus"></i></button> <!-- {{Price}} -->
				</div>
			</div>

		</div>
		<div class="card my-2">
			<!-- <div class="card-header">
				Featured
			</div> -->
			<div class="card-body row">
				<div class="col-3">
					<img src="https://rukminim1.flixcart.com/image/832/832/backpack/g/y/d/07171203-puma-backpack-echo-plus-original-imae8jq7fuxzdmeq.jpeg?q=70" class="img-fluid w-75 py-auto my-auto">
				</div>
				<div class="col-9 my-auto">
					<h5 class="card-title">{Product Name}}</h5>
					<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
					<a href="#" class="btn btn-outline-success">Buy Now</a>
					<a href="#" class="btn btn-outline-danger">Remove From Cart <i class="fa fa-trash "></i></a>
					
					<button class="btn  pull-right  mx-4">600.0</button> <!-- {{Price}} -->
					<button class="btn btn-outline-danger  pull-right  "><i class="fa fa-minus"></i></button> <!-- {{Price}} -->
					<button class="btn btn-outline-light  pull-right   text-dark">2</button>
					<button class="btn btn-outline-success pull-right  "><i class="fa fa-plus"></i></button> <!-- {{Price}} -->
				</div>
			</div>
		</div>	
			<div class=" row my-4">
				<div class="col-9"></div>
				<div class="col-3 row">
					<span class="pull-right col-4 text-center my-auto"><i class="fa fa-rupee">1200.0</i></span>
					<button class="btn btn-primary pull-right col-8 text-center">Buy Now</button>
				</div>
			</div>
		<h1>Wishlist <i class="fa fa-heart" style="color: #B00;"></i></h1>
		<!-- <div class="row mx-0 b0b" style="position: relative;width: 150%;">
			<p>Spdposd</p>
		</div> -->
		<div class="row text-center">
			<!-- <div class=" py-auto text-center" style="width: 2rem;" >
				<div class=" my-auto" style="vertical-align: 40%;"><i class=" fa fa-arrow-left"></i></div>
			</div> -->
			<div class="card mx-1 px-auto" style="width: 17rem;">
				<img class="card-img-top w-75 mx-auto" src="https://rukminim1.flixcart.com/image/832/832/backpack/g/y/d/07171203-puma-backpack-echo-plus-original-imae8jq7fuxzdmeq.jpeg?q=70" alt="Card image cap">
				<div class="card-body text-center">
					<h5> Puma EX-78 Backpack</h5>
					<span class="text-secondary my-2"><i class="fa fa-rupee">600.0</i></span><br><br>
					<button class="btn btn-info">Move to Bag</button>
				</div>
			</div>
			<div class="card mx-1 px-auto" style="width: 17rem;">
				<img class="card-img-top w-75 mx-auto" src="https://rukminim1.flixcart.com/image/832/832/backpack/g/y/d/07171203-puma-backpack-echo-plus-original-imae8jq7fuxzdmeq.jpeg?q=70" alt="Card image cap">
				<div class="card-body text-center">
					<h5> Puma EX-78 Backpack</h5>
					<span class="text-secondary my-2"><i class="fa fa-rupee">600.0</i></span><br><br>
					<button class="btn btn-info">Move to Bag</button>
				</div>
			</div>
			<div class="card mx-1 px-auto" style="width: 17rem;">
				<img class="card-img-top w-75 mx-auto" src="https://rukminim1.flixcart.com/image/832/832/backpack/g/y/d/07171203-puma-backpack-echo-plus-original-imae8jq7fuxzdmeq.jpeg?q=70" alt="Card image cap">
				<div class="card-body text-center">
					<h5> Puma EX-78 Backpack</h5>
					<span class="text-secondary my-2"><i class="fa fa-rupee">600.0</i></span><br><br>
					<button class="btn btn-info">Move to Bag</button>
				</div>
			</div>
			<div class="card mx-1 px-auto" style="width: 17rem;">
				<img class="card-img-top w-75 mx-auto" src="https://rukminim1.flixcart.com/image/832/832/backpack/g/y/d/07171203-puma-backpack-echo-plus-original-imae8jq7fuxzdmeq.jpeg?q=70" alt="Card image cap">
				<div class="card-body text-center">
					<h5> Puma EX-78 Backpack</h5>
					<span class="text-secondary my-2"><i class="fa fa-rupee">600.0</i></span><br><br>
					<button class="btn btn-info">Move to Bag</button>
				</div>
			</div>
			<!-- <div class=" py-auto text-center" style="width: 2rem;" >
				<div class=" my-auto"><i class=" fa fa-arrow-right"></i></div>
			</div> -->
		</div>
	</div>
	<br><br>