{{#if authenticated}}
<div class="w3-main" style="margin-left:300px;">
 <header class="w3-container" style="padding-top:22px">
    <h5 style=" font-style: "><b> Products Borrowed </b></h5>
  </header>
  <div class="w3-row-padding w3-margin-bottom">
    
      <div class="w3-container w3-padding-16">
        <div class="row">
          {{#each Products}}
            <div class="p1 col-sm-2 b0b">
              <a href="/product/{{this._id}}"> <img src="{{this.ProductImage}}" style="width: 100px;"> </a>
            </div>
            <div class="mycart col-sm-10 b0b">
              <strong>Product Name</strong> : {{this.ProductName}}<br>
              <strong>Cost</strong> : Rs. {{this.Price}}<br>
              {{!-- <strong>Quantity</strong> : 2<br> --}}
            </div>
          {{/each}}
{{!--           
          <div class="p1 col-sm-2 b0b">
            <img src ="tshirt.jpg" width ="300" height="200">
          </div>
          <div class="mycart col-sm-10 b0b">
            <strong>Product Name</strong> : Puma T-shirt For Men<br>
            <strong>Cost</strong> : Rs. 599<br>
            <strong>Quantity</strong> : 1<br>
          </div>

         <div class="p1 col-sm-2 b0b">
            <img src ="book.jpg" width ="300" height="200">
          </div>
          <div class="mycart col-sm-10 b0b">
            <strong>Product Name</strong> :Advanced Engineering Mathematics, Kreyszig, 10 E. <br>
            <strong>Cost</strong> : Rs.400<br>
            <strong>Quantity</strong> : 1<br>
          </div> 
          <div class="p1 col-sm-2 b0b">
            <img src ="chair.jpg" width ="300" height="200">
          </div>
          <div class="mycart col-sm-10 b0b">
            <strong>Product Name</strong> : Red Cardinal Chair<br>
            <strong>Cost</strong> : Rs. 650<br>
            <strong>Quantity</strong> : 1<br>
          </div> --}}
        </div>
      </div>
  </div>
</div>
{{else}}
<br><br>
<center><h1>Not authenticated!</h1></center>
<center><h4>Please Sign-up if you are a new user or Sign-in to continue.</h4></center>
<center><h2>............................................................</h2></center>

{{/if}}
