<nav class="navbar navbar-expand-sm bg-light navbar-light pb-0 p-auto">
  <ul class="navbar-nav text-center row px-auto p-auto mx-auto ">
  {{#each Categories}}
      <a class="nav-item col-1 m-0 p-0 nav-link font-15" href="/subcategory/Category/{{this.Cat_id}}">{{this.CategoryName}}</a>
  {{/each}}
{{!--   
    <li class="nav-item">
      <a class="nav-link" href="#">Accessories</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Furniture</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Clothes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Footwear</a>
    </li>
        <li class="nav-item">
      <a class="nav-link" href="#">Electronics</a>
    </li>
        <li class="nav-item">
      <a class="nav-link" href="#">Appliances</a>
    </li>
        <li class="nav-item">
      <a class="nav-link" href="#">Books</a>
    </li>
        <li class="nav-item">
      <a class="nav-link" href="#">Fitness</a>
    </li>
        <li class="nav-item">
      <a class="nav-link" href="#">Vehicles</a>
    </li>
    
        <li class="nav-item">
      <a class="nav-link" href="#">Backpacks</a>
    </li> --}}
  </ul>
</nav>

<div class="container-fluid">
	
<br>
	<div class="row">
    <div class="col-10 row">
	{{#each Products}}
  <div class="prod-display col-3 h-75" >
      <div class="gallery col-xs-12">   
       <a target="_blank" href="/product/{{this._id}}">
    <img src="{{this.ProductImage}}" alt="Pink Hair Dryer" class="w-100" style="height: 300px;">
  </a>
  <div class="desc">
  	<a href="/product/{{this._id}}"><b>{{this.ProductName}}</b> </a>
  	<br/> 
  	Price: Rs. {{this.Price}}/Day
  	<br/>
  	<a href="/addtocart/{{this._id}}"><button type="button" class="btn btn-success "><i class="fa fa-shopping-cart"></i>Add To Cart</button></a>
    <a href="/addtowishlist/{{this._id}}"><button type="button" class="btn btn-light  "><i class="fa fa-heart"></i>Add To Wishlist</button></a>
  </div>
  </div>
	</div>
  {{/each}}
	</div>
  <div class="cat-filters col-lg-2 col-xs-12">
		{{!-- <p><strong><center>Subcategories and Filters</center></strong></p> --}}
	 <div id="accordion">
    <div class="card">
      <a class="card-header accDiv" class=" text-black" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Subcategories
      </a>
      <div id="collapseOne" class="collapse">
        <div class="list-group w-100 m-0">
          {{#each Subcategories}}
          <div class="list-group-item w-100">
            <a href="/subcategory/subcategory/{{this.Subcat_id}}" class="text-success">{{this.SubcategoryName}}</a><br>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="card">
        <a class="collapsed card-link card-header accDiv" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
        Filters
      </a>
      <div id="collapseTwo" class="collapse">
        <div class="card-body p-0 w-100">
           <form>
    <div class="form-check list-group m-0 p-0 w-100">
      <label class="form-check-label">
        <p class="list-group-item m-0 text-success"> Price: Low to high</p>
      </label>
    </div>
    <div class="form-check list-group m-0 p-0 w-100">
      <label class="form-check-label">
        <p class="list-group-item m-0 text-success"> Highest Ratings First</p>
      </label>
    </div>
  </form>
        </div>
      </div>
    </div>
  </div> 
	</div>
	</div>
</div>
<br>

