{{#each Products}}
    <p>{{this.ProductName}}</p>
    <div class="card-body row">
				<div class="col-3">
					<img src="{{this.ProductImage}}" class="img-fluid w-75 py-auto my-auto">
				</div>
                	<div class="col-9 my-auto">
                        <h5 class="card-title">{{this.ProductName}}</h5>
                        {{!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> --}}
                        {{!-- <a href="#" class="btn btn-outline-success">Buy Now</a>
                        <a href="#" class="btn btn-outline-danger">Remove From Cart <i class="fa fa-trash "></i></a>
                         --}}
                        <button class="btn  pull-right  mx-4">{{this.Price} /Day</button> <!-- {{Price}} -->
                        {{!-- <button class="btn btn-outline-danger  pull-right  "><i class="fa fa-minus"></i></button> <!-- {{Price}} --> --}}
                        {{!-- <button class="btn btn-outline-light  pull-right   text-dark">2</button> --}}
                        {{!-- <button class="btn btn-outline-success pull-right  "><i class="fa fa-plus"></i></button> <!-- {{Price}} --> --}}
					</div>
				</div>
			</div>
{{/each}}